<% unless @genre.nil? %>
    <% provide(:title, @genre.name.upcase) %>
    <h2><%= @genre.name.upcase %></h2>
<%else%>
    <% provide(:title, '所有文章') %>
    <h2>所有文章</h2>
<%end%>
<%= "暂无文章" unless @articles.any?%>
<%= will_paginate %>

<ul class="articles">
  <%= render @articles %>
</ul>

<%= will_paginate %>
