<% provide(:title, @article.title) %>

  <h2><%= @article.title %></h2>
  <h2><%= "#{@article.created_at}  #{@article.views_count} #{article_genre(@article)}" %></h2>
  <p><%= @article.content %></p>

<div>
  <% if @article.reviews.any? %>
    <h3>回复: (<%= @article.reviews.count %>)</h3>
    <ol class="reviews"> <%= render @reviews %></ol>
    <%= will_paginate @reviews %>
  <% else %>
    <h3>暂无回复</h3>
  <% end %>
  <%= render '/reviews/new' %>
</div>



